/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
@import 'assets/base-assets/footer';

html {
    height: 100%;
}

a {
    @extend %default-transition;
}

body {
    background: red;
    background: green;
}

.class {
    display: block;
    clear: both;
    background-image: none;
}



    display: none;
}


/*END:base*/
