/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
html {
    height: 100%;
}

a {
    @extend %default-transition;
}

.myContainer {
    max-width: containerGrid('container');
    margin: 0 auto;
    position: relative;
    @extend %clearfix;
}


/*END:base*/
