/*base*/

@import 'assets/settings';
@import 'assets/base-assets/header';
html {
    height: 100%;
}

a {
    @extend %default-transition;
}

.myContainer {
    position: relative;
    max-width: gridValue('container');
    margin: 0 auto;

    @extend %clearfix;
}

.row {
    margin-right: -(gridValue('gutter'));
    margin-left: -(gridValue('gutter'));

    @extend %clearfix;
}

.leftBlock {
    float: left;
    width: contentGrid('container', 'leftBlock', 'gutter');
    padding: 0 gridValue('gutter');
    text-align: center;
}

.rightBlock {
    float: left;
    width: contentGrid('container', 'rightBlock', 'gutter');
    padding: 0 gridValue('gutter');
    text-align: center;
}

/*END:base*/
