@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/OpenSans/OpenSans-Regular/OpenSans-Regular.svg#svgFontName') format('svg');
    /* Legacy iOS */
}