/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$girl-name: 'girl';
$girl-x: 0px;
$girl-y: 0px;
$girl-offset-x: 0px;
$girl-offset-y: 0px;
$girl-width: 1024px;
$girl-height: 1280px;
$girl-total-width: 2249px;
$girl-total-height: 1280px;
$girl-image: '../img/sprite.png';
$girl: (0px, 0px, 0px, 0px, 1024px, 1280px, 2249px, 1280px, '../img/sprite.png', 'girl', );
$girl2-name: 'girl2';
$girl2-x: 1824px;
$girl2-y: 0px;
$girl2-offset-x: -1824px;
$girl2-offset-y: 0px;
$girl2-width: 425px;
$girl2-height: 640px;
$girl2-total-width: 2249px;
$girl2-total-height: 1280px;
$girl2-image: '../img/sprite.png';
$girl2: (1824px, 0px, -1824px, 0px, 425px, 640px, 2249px, 1280px, '../img/sprite.png', 'girl2', );
$girl3-name: 'girl3';
$girl3-x: 1024px;
$girl3-y: 0px;
$girl3-offset-x: -1024px;
$girl3-offset-y: 0px;
$girl3-width: 800px;
$girl3-height: 1086px;
$girl3-total-width: 2249px;
$girl3-total-height: 1280px;
$girl3-image: '../img/sprite.png';
$girl3: (1024px, 0px, -1024px, 0px, 800px, 1086px, 2249px, 1280px, '../img/sprite.png', 'girl3', );
$spritesheet-width: 2249px;
$spritesheet-height: 1280px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($girl, $girl2, $girl3, );
$spritesheet: (2249px, 1280px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
